.services {
    height: 530px;
    padding: 74px 0 80px;
    background: url('../img/services/services.png') top center / auto 530px;
    &__items {
        margin-top: 43px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_icon {
            width: 60px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        &_title {
            margin-top: 25px;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #EDF0F5;
        }
        &_descr {
            margin-top: 25px;
            font-weight: normal;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #EDF0F5;
        }
    }
    &__btn {
        margin-top: 40px;
        width: 330px;
    }

}